body {
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  color: #333;
  background-color: #f4f4f9;
  margin: 0;
}
  
header {
  background: #498379;
  text-align: center;
  padding: 15px 0;
  font-size: 20px;
  width: 100%;
  color: white;
}

header p {
  font-size: 20px;
  color: white;
  margin-top: -1px;
}

.container-inputs {
  max-width: 50%;
  margin: 50px auto;
  padding: 40px;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

.input-token {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  box-sizing: border-box;
}

.token-label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.token-label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}


.botoes {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 40px;
}


.botao-adicionar button {
  width: 100px;
  background-color: #487aa1;
  color: #fff;
  height: 40px;
  border-radius: 5px;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.botao-limpar button {
  width: 100px;
  background-color: #f0ad4e;
  color: #fff;
  height: 40px;
  border-radius: 5px;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.botao-adicionar button:hover {
  background-color: #5d7891;
  color: #ddd;
}

.botao-limpar button:hover {
  background-color: #e6a333;
  color: #ddd;
}






/* TABELA */
.tabela {
  max-width: 60%;
  margin: 50px auto;
  padding: 20px;
  color: #333;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Poppins', sans-serif;
}

.table th, .table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #a7a7a7;
}

.table thead th {
  background-color: #9c9c9c;
  color: #fff;
  font-weight: 500;
  border-top: none;
  border-left: none;
  border-right: none;
}

.table thead th:first-child {
  border-top-left-radius: 8px;
}

.table thead th:last-child {
  border-top-right-radius: 8px;
}

.palavras-adicionadas {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: 80px;
  overflow: auto;
  border: 1px solid #ddd;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  max-width: 100%;
  margin-bottom: 50px;
  border-radius: 4px;
}

.palavra {
  background-color: #9c9c9c;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  max-height: 20px;
  
}

.palavra:hover {
  background-color: #808080;
}







  
footer {
  text-align: center;
  padding: 10px;
  font-size: 15px;
  color: #999;
}
  